<div class="uk-container">
  <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
    <span class="uk-icon uk-margin-small-right" uk-icon="icon: logo-color-dark; ratio: 0.7"></span>
  </p>


  <form class="uk-grid-small" uk-grid>
    <h3 class="uk-card-title">Cadastre-se</h3>
    <P></P>

    <div class="uk-width-1-1@s">
      <input class="uk-input" formControlName="ds_nome" type="text" placeholder="Nome">
    </div>

    <div class="uk-width-1-4@s">
      <input class="uk-input" formControlName="ds_email" type="ds_email" placeholder="informe seu e-mail...">
    </div>
    <div class="uk-width-1-5@s">
      <input class="uk-input" formControlName="ds_telefone" type="text" placeholder="celular">
    </div>
    <div class="uk-width-1-6@s">
      <input class="uk-input" formControlName="dt_nascimento" type="text" placeholder="Data Nascimento">
    </div>
    <div class="uk-width-1-6@s">
      <input class="uk-input" mask="CPF_CNPJ" formControlName="cd_cpf" type="text" placeholder="CPF">
    </div>
    <div class="uk-width-1-6@s">
      <input class="uk-input " formControlName="cd_rg" type="text" placeholder="RG">
    </div>

    <div class="uk-width-1-6@s">
      <input class="uk-input " formControlName="ds_senha" type="password" placeholder="Senha">
    </div>
    <div class="uk-width-1-1@s"></div>
    <div class="uk-width-1-6@s">
      <input class="uk-input " formControlName="cd_cep" type="text" placeholder="CEP">
    </div>
    <div class="uk-width-1-3@s">
      <input class="uk-input " formControlName="ds_endereco" type="text" placeholder="Endereço">
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input " formControlName="ds_complemento" type="text" placeholder="Complemento">
    </div>
    <div class="uk-width-1-5@s">
      <input class="uk-input " formControlName="nr_endereco" type="text" placeholder="Número">
    </div>
    <div class="uk-width-1-5@s">
      <input class="uk-input " formControlName="ds_bairro" type="text" placeholder="Bairro">
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input " formControlName="ds_cidade" type="text" placeholder="Cidade">
    </div>
    <div class="uk-width-1-6@s">
      <input class="uk-input " formControlName="cd_uf" type="text" placeholder="Estado">
    </div>

    <div class="uk-width-1-1@s uk-text-center">

      <button class="uk-button uk-button-primary .uk-text-center">Cadastrar</button>
    </div>


    <div class="uk-width-1-1@s uk-text-center">
      <a [routerLink]="['/login']" class="uk-button uk-button-link .uk-text-center">Cancelar</a>
    </div>
  </form>
</div>