<div class="container">
    <div>
        <br>

        <div class="row mb-1">
            <div class="col">
                <div class="form-floating mb-1">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1 ">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1">
                    <button class="w-100 btn btn-primary btn-lg btn-block " (click)="voltar()">voltar</button>
                </div>
            </div>
        </div>

    </div>
</div>