<div class="container">

    <div>
        <br>
        <div class="row mb-1">
            <div class="col">
                <div class="form-floating mb-1">
                    <h3 class="mb-5" ng>Nova Despesa </h3>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-1">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1">

                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-1">
                    <button class="w-100 btn btn-primary btn-lg btn-block " (click)="voltar()">voltar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-5 text-center">

            <app-loading *ngIf="busy"></app-loading>

            <form (ngSubmit)="submit" [formGroup]="form" #formDir="ngForm" *ngIf="!busy">

                <div class="row mb-1">
                    
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="ds_descricao"
                                    placeholder="name">
                                <label for="floatingInput">Descrição</label>
                            </div>
                            <div *ngIf="ds_descricao.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="ds_descricao.errors?.['required']">Campo obrigatorio</p>
                            </div>
                        </div>
                       

                        <div class="col">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_categoria" formControlName="id_categoria">
                                    <option *ngFor="let categoria of categoria$ | async" [value]="categoria.id">
                                        {{categoria.ds_descricao}}</option>
                                </select>
                                <label for="floatingSelectGrid">Categoria</label>
                            </div>
                            <div *ngIf="id_categoria.invalid && formDir.submitted" class="validation-error">
                                <p *ngIf="id_categoria.errors?.['required']">Campo obrigatorio</p>
                            </div>
                        </div>
                    
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="vl_valor_parc">
                            <label for="floatingInput">Valor</label>
                        </div>
                        <div *ngIf="vl_valor_parc.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="vl_valor_parc.errors?.['required']">Campo obrigatorio</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="vl_valor_multa">
                            <label for="floatingInput">Multa</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="vl_valor_desconto">
                            <label for="floatingInput">desconto</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" formControlName="dt_vencimento"
                                placeholder="00/00/0000">
                            <label for="floatingInput">dt_vencimento</label>
                        </div>
                        <div *ngIf="dt_vencimento.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="dt_vencimento.errors?.['required']">Campo obrigatorio</p>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">

                    <div class="col">
                        <div class="form-floating mb-3">
                            <select class="form-select" #flDespesaFixa formControlName="fl_despesa_fixa">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                            <label for="floatingSelectGrid">Despesa fixa?</label>
                        </div>
                        <div *ngIf="fl_despesa_fixa.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="fl_despesa_fixa.errors?.['required']">Campo obrigatorio</p>
                        </div>
                    </div>
                    <div class="col" *ngIf="flDespesaFixa.value=='0' ">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="cd_qtd_tot_parc"
                                placeholder="00.000.000-0">
                            <label for="floatingInput">Quantidade de parcela</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <select class="form-select" #flPago formControlName="fl_pago">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                            <label for="floatingSelectGrid">Já esta pago?</label>
                        </div>
                        <div *ngIf="fl_pago.invalid && formDir.submitted" class="validation-error">
                            <p *ngIf="fl_pago.errors?.['required']">Campo obrigatorio</p>
                        </div>
                    </div>

                    <div class="col" *ngIf="flPago.value=='1' ">
                        <div class="form-floating mb-3" id="dt_pagamento">
                            <input type="date" class="form-control" formControlName="dt_pagamento"
                                placeholder="00/00/0000">
                            <label for="floatingInput">Data do pagamento</label>
                        </div>
                    </div>

                </div>
                <button class="w-25 btn btn-primary btn-lg btn-block" (click)="submit()">Salvar</button>
            </form>
        </div>
    </div>


</div>