<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Entrar</h3>

            <app-loading *ngIf="busy"></app-loading>

            <form [formGroup]="form" *ngIf="!busy">

              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="ds_email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="ds_senha" placeholder="123456">
                <label for="floatingInput">Senha</label>
              </div>

              <div class="form-outline mb-4">
                <a [routerLink]="['/signup']" class="btn btn-link">Quero me Cadastrar</a>
              </div>

              <button class="w-100 btn btn-primary btn-lg btn-block" [disabled]="form.invalid"
                (click)="submit()">Entrar</button>

              <hr class="my-4">
              <a [routerLink]="['/reset-password']" class="w-100 btn btn-lg btn-danger">Esqueci minha senha</a>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>