<div class="container">
    <div>
        <br>
        <form [formGroup]="form" *ngIf="!busy">
            <div class="row mb-1">
                <div class="col">
                    <div class="form-floating mb-1">
                        <select class="form-select" formControlName="cd_mes">
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        <label for="floatingSelectGrid">Mês</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-1 ">
                        <select class="form-select" formControlName="cd_ano">
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select>
                        <label for="floatingSelectGrid">Ano</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-1">
                        <button class="w-50 btn btn-primary btn-lg btn-block " (click)="submit()">buscar</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-1">

                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-1">
                        <button class="w-100 btn btn-primary btn-lg btn-block " (click)="novaDespesa()">nova
                            despesa</button>
                    </div>
                </div>
            </div>

        </form>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>descricao</th>
                    <th>Vencimento</th>
                    <th>Parcela</th>
                    <th>Desp Fixa</th>
                    <th>Desp Paga?</th>
                    <th>Valor</th>
                    <th>Editar</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let despesa of despesa$ | async">
                    <td>{{despesa.id}}</td>
                    <td>{{despesa.ds_descricao}}</td>
                    <td>{{despesa.cd_dia}}/{{despesa.cd_mes}}/{{despesa.cd_ano}}</td>
                    <td>{{despesa.cd_qtd_parc}} de {{ despesa.cd_qtd_tot_parc}} </td>
                    <td>
                        <ng-template [ngIf]="despesa.fl_despesa_fixa === '1'" [ngIfElse]="userLoggedOut">
                            <div>
                                Sim
                            </div>
                        </ng-template>

                        <ng-template #userLoggedOut>
                            <div>
                                
                                Não
                            </div>
                        </ng-template>
                    </td>
                    <td>
                        <ng-template [ngIf]="despesa.fl_pago === '1'" [ngIfElse]="userLoggedOut">
                            <div class="btn btn-outline-success btn-sm">
                                Sim
                            </div>
                        </ng-template>

                        <ng-template #userLoggedOut>
                            <div class="btn btn-outline-danger btn-sm">
                                Não
                            </div>
                        </ng-template>
                    </td>
                    <td>{{despesa.vl_valor_parc | currency }}</td>

                    <td><button class="btn btn-primary btn-sm" (click)="editar(despesa)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>